nav {
    background: #EFF2F7;
}

.navbar-brand {
    color: #646FD4 !important;
}

.text-bold {
    font-weight: 700 !important;
}

.text-gray {
    color: #8F8F8F;
}

.text-blue {
    color: #2C59C0 !important;
}

.nav-link:hover {
    text-decoration: underline 2px #2C59C0;
}

.bg-blue {
    background-color: #EFF2F7 !important;
}

@media only screen and (max-width: 992px) {
    .mobile-flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.scrolling-wrapper {
    /* border-radius: 10px; */
    overflow-x: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    white-space: no-wrap;
    scroll-behavior: smooth;
    /* box-shadow: inset 200px 0px 200px -200px rgba(224, 224, 224, 0.8), inset -200px 0px 200px -200px rgba(224, 224, 224, 0.8); */
    scroll-snap-type: x mandatory;
}

.scrolling-wrapper::-webkit-scrollbar {
    display: none;
}

.card {
    display: inline-block !important;
    flex-shrink: 0;
    scroll-snap-align: start;
    scroll-margin-left: 20px;
}

.card-img-top {
    border-radius: 10px;
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

